{% extends 'base.html' %}


{% block title %}
  Categories
{% endblock %}
{% block content %}

  <h1>Hello from your categories list!!</h1>

  {% for category in categories %}
    {% if category.image %}
      <div class="card" style="width: 18rem;">
      <img src="{{category.image.url}}" class="card-img-top" alt="...">
    {% endif %}   
    <div class="card-body">
      <h5 class="card-title">{{category.name}}</h5>
      {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %} 
          <a href="/products/create-category/" class="btn btn-primary">Create Category</a>
          <a href="/products/update-category/{{category.id}}" class="btn btn-primary">Update</a>
          <a href="/products/delete-category//{{category.id}}" class="btn btn-danger">Delete</a>
        {% endif %}     
      {% endif %}
    </div>
  </div>

  {% endfor %}
  {% endblock %}